.contact {
    background-image: url(../images/galerie/WhatsApp\ Image\ 2021-12-30\ at\ 13.45.38\ \(3\)\ -\ Copie.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2rem;
    height: auto;
    width: auto;
    border-radius: 2em;
    border: 0.1rem solid cadetblue;
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.2);
}

h2 {
    text-align: center;
    font-size: 4vw;
    color: rgb(70, 209, 238);
    margin-top: 1rem;
}


.form {
    text-align: center;
    font-size: 3VW;
    margin: 2rem;
}

.tous {
    font-size: 1.2vw;
    text-align: center;
    border-radius: 2em;
    border: 0.1rem solid rgb(95, 158, 160);
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.2);
    width: 50vw;
    height: 2vw;
}

.message {
    font-size: 0.7vw;
    height: 10rem;
}

.summit {
    font-size: 1.2vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border-radius: 1rem;
    border: 0.1rem solid cadetblue;
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.2);
    height: 4vw;
    width: 20%;
    margin-top: 0;
}

.tous::placeholder {
    font-size: 1.4vw;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 209, 238);
}
.summit:hover {
    font-weight: bold;
    border: 0.2rem solid rgb(70, 209, 238);
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.4);
}

/*Smartphone*/
@media all and (max-device-width : 699px) {
    /* Styles pour cette Media Queries */
    h2 {
        text-align: center;
        font-size: 6vw;
        color: rgb(70, 209, 238);
        margin-top: 1rem;
    }
    .form {
        text-align: center;
        font-size: 5VW;
        margin: 2rem;
    }
    .tous::placeholder {
        font-size: 2.5vw;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(70, 209, 238);
    }
    .summit{
        font-size: 2.5vw;
    }
    }
/*Tablet*/
    @media only screen and (min-device-width : 700px) and (max-device-width : 1024px) {
    /* Styles pour cette Media Queries */
    h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5vw;
        color: rgb(70, 209, 238);
        margin-top: 1rem;
    }
    .form {
        text-align: center;
        font-size: 3.5VW;
        margin: 2rem;
    }
    .tous::placeholder {
        font-size: 2.2vw;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(70, 209, 238);
    }
    .summit{
        font-size: 2.2vw;
    }
    /*Ecran PC*/
    @media only screen and (min-width : 1025px){}}