/*css header et nav*/
.body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    background-repeat: no-repeat;
}

.baniere {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/header/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10.5em;
}

.logo-baniere {
        height: 7em;
        width: auto;
        margin: auto 2em;
}

.logo-2 {
    box-shadow: 0em 0em 1.5em 1em rgb(34, 134, 235);
}

.logo-1 {
    box-shadow: 0em 0em 1.5em 1.2em rgb(172, 204, 27);
}

h1 {
    height: auto;
    margin: 0em;
    color: white;
    font-size: 5em;
    font-family: 'Segoe UI';
    text-shadow: 0 4px black, 0 -4px black, 0 4px black, 0 -4px black ;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.titre-menu {
    font-size: 1.8em;
    text-decoration: none;
}

.titre-menu:hover {
    font-weight: bold;
    text-decoration: underline;
}

.menu-1 {
    color: rgb(70, 209, 238);
}

.menu-2 {
    color: rgb(127, 45, 244);
}

.menu-3 {
    color: rgb(224, 0, 7);
}

.menu-4 {
    color: rgb(246, 134, 6);
}

.recherche {
   display: flex;
   margin: 0.5em;
}

.recherche-case {
    height: 2em;
    width: 9.1em;
    color: rgb(154, 232, 6);
    border: none;
    outline: none;
}
 ::placeholder {
    color: rgb(154, 232, 6);
    font-size: 1.8em;
}

.recherche-case:focus::placeholder {
    opacity: 0;
}

input:checked {
    border-color: red;
}

.lorem {
    height: auto;
    width: auto;
    margin: 2em 2em;
}

.icone-loupe {
    background-image: url(../images/header/loupe.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2em;
    width: 2em;
    border: none;
}

/* css articles*/
.tout-article {
    display: flex;
    justify-content: space-around;
}

.article {
   text-align: center;
    width: 33%;
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.2);
    border-radius: 2em;
    border: 0.1rem solid cadetblue;
}

.imgtest {
    height: 30em;
    width: auto;
    margin: 2em 2em;
    border: 1px solid blue;
}

/*css grid*/
.prout{
    height: auto;
    width: auto;
    border-radius: 2em;
    background-position-x: center;
    background-position-y: center;  
}

.grid {
    width: 100%;
    height: 80em;
    display: grid;
    grid-template-columns: 1.4em 1fr 1.4em 15% 1.4em 15% 1.4em 1fr 1.4em 1fr 1.4em;
    grid-template-rows: 1.4em 2fr 1.4em 2fr 1.4em 1fr 1.4em;
}

.one {
    grid-column: 2 / 5;
    grid-row: 2;
    background-image: url(../images/grid/rosebleue.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 0.1rem solid cadetblue;
}

.two {
    grid-column: 6 / 9;
    grid-row: 2;
    background-image: url(../images/grid/cuisine41.jpg);
    background-size: cover;
    background-position-x: center;
    border: 0.1rem solid cadetblue;
}

.three {
    grid-column: 10 ;
    grid-row: 2 / 5;
    background-image: url(../images/grid/pierre11.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 0.1rem solid cadetblue;
}

.four {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    border: 0.1rem solid cadetblue;
}

.five {
    grid-column: 4 / 7;
    grid-row: 4 / 7;
    background-image: url(../images/grid/balcon2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 0.1rem solid cadetblue;
}

.six {
    grid-column: 8 / 9;
    grid-row: 4 / 7;
    display: flex;
    flex-direction: column;
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.2);
    border: 0.1rem solid cadetblue;
}

.seven {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    display: flex;
    flex-direction: column;
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.2);
    border: 0.1rem solid cadetblue;
}

.height {
    grid-column: 10 / 11;
    grid-row: 6 / 7;
    background-image: url(https://i.pinimg.com/originals/0d/85/c5/0d85c55e826ef3c5a1079163930c9688.gif);
    background-size: cover;
    border-radius: 2em;
    border: 0.1rem solid cadetblue;
}

.jouets1 {
    width: 8rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-right: auto;
    margin-left: 3rem;
}

.ikea {
    width: 8rem;
    margin-right: 3rem;
    margin-left: auto;
}

.despe {
    width: 8rem;
    margin-right: auto;
    margin-left: 3rem;
}

.jouets2 {
    width: 8rem;
    margin-right: 3rem;
    margin-left: auto;
}

.nespresso {
    width: 10rem;
    margin-left: 2rem;
    margin-right: auto;
}

h3 {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

.fournisseurs {
    font-size: 1rem;
    text-align: center;
    margin-top: 0rem;
}

.sos {
    width: 5rem;
}

.tiktok {
    width: 4.5rem;
}

.messenger {
    width: 4rem;
}

.instagram {
    width: 4.4rem;
}

.twitter {
    width: 4rem;
}

.facebook {
    width: 4.5rem;
}

.snapchat {
    width: 4rem;
}


.haut {
    display: inline-block;
    align-self: center;
    justify-content: space-around;
    margin: auto;
}

.bas {
    align-self: center;
}

.youtube {
    width: 4.8rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: none;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
}

.commun {
    padding-top: 2rem;
    margin: auto;
    margin-top: 4rem;
    height: 40rem;
    width: 100rem;
    background-color: white;
    border-radius: 3rem;
    box-shadow: inset 2px 2px 10px 10px rgb(70, 209, 238, 0.2);
}

/*article pop mise ne forme */

.imgtest1 {
    display: block;
    margin:  auto;
    height: 25rem;
    width: auto;

}

.lorem1 {
    margin: 1rem 3rem;
}

.close1 {
    display: block;
    margin: auto;
    border-radius: 1rem;
    height: 2rem;
}

.open {
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.footer {
    text-align: center;
    height: 6rem;
    background-image: url(../images/header/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.2rem;
}